@model EmployeeManagement.Models.EmployeeDetailDto



<div class="container">
    <div class="row">
        <h3>Employee list</h3>

        <div class="pt-2 col-sm-12">
            <table class="table table-bordered">
                <tr>
                    <th>Fisrt Name</th>
                    <th>Second Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.FirstName</td>
                        <td>@employee.SecondName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.Email</td>
                        <td>@employee.Mobile</td>
                        <td>@employee.Address</td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("EditEmployee", "Employee", new { id = employee.Id })">Edit</a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", "Employee", new { id = employee.Id })">Delete</a>
                        </td>
                    </tr>
                }
            </table>
            
        </div>

        <div>
            @if(Model.PageNumber > 1)
            {
                <a class="btn btn-secondary" href="@Url.Action("Index", "Employee", new { pageNumber = Model.PageNumber - 1 })">Previous</a>
            }
            
            <span class="mx-2">Page @Model.PageNumber of @Model.TotalPages</span>

            @if(Model.PageNumber < Model.TotalPages)
            {
                <a class="btn btn-secondary" href="@Url.Action("Index", "Employee", new { pageNumber = Model.PageNumber + 1 })">Next</a>
            }
         
        </div>


    </div>

</div>